<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!--配置扫描controller包-->
    <context:component-scan base-package="com.oyyb.controller"/>
    <!--配置html解析器-->
    <!--<bean id="freemarkerConfiguration"
          class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="location" value="classpath:freemarker.properties" />
    </bean>
    &lt;!&ndash; html视图解析器 必须先配置freemarkerConfig,注意html是没有prefix前缀属性的 &ndash;&gt;
    <bean id="freemarkerConfig"
          class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="freemarkerSettings" ref="freemarkerConfiguration" />
        <property name="templateLoaderPath">
            <value>/pages/</value>
        </property>
    </bean>
    <bean id="htmlviewResolver"
          class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <property name="suffix" value=".html" />
        <property name="order" value="0"></property>
        <property name="contentType" value="text/html;charset=UTF-8"></property>
    </bean>-->
    <!--文件解析对象-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"
          p:defaultEncoding="UTF-8">
        <property name="maxUploadSize">
            <value>104857600</value>
        </property>
        <property name="maxInMemorySize">
            <value>4096</value>
        </property>
    </bean>

    <bean id="passwordEncoderUtils" class="com.oyyb.utils.BCryptPasswordEncoderUtils">

    </bean>

    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/pages/"/>
        <property name="suffix" value=".jsp"/>
        <property name="order" value="2"></property>
        <property name="contentType" value="text/html;charset=UTF-8"/>
    </bean>
    <!--配置静态不过滤-->
    <mvc:resources mapping="/pages/app/**" location="/pages/app/"/>
    <mvc:resources mapping="/pages/fonts/**" location="/pages/fonts/"/>
    <mvc:resources mapping="/pages/restatic/**" location="/pages/restatic/"/>
    <mvc:resources mapping="/pages/static/**" location="/pages/static/"/>
    <mvc:resources mapping="/pages/img/**" location="/pages/img/"/>
    <mvc:resources mapping="/video/**" location="/video/"/>

    <!--开启springmvc注解支持-->
    <mvc:annotation-driven/>
    <!--支持aop注解，aop使用代理技术-->
    <aop:aspectj-autoproxy proxy-target-class="true"/>
</beans>