
/*派送员信息修改与用户是一样的*/
/*订单大厅*/
#tab-order{
    height: 90%;
}
#order_nav{
    height: 10%;
    width: 100%;
    /*border: 2px solid #cccccc;*/
}

.tab1{
    margin-left: 20px;

    background-image: url(../images/bg.jpg);
    background-size: 100% 100%;
    padding: 2px;
    display: inline-block;
    width: 200px;
    height: auto;
    border: 2px solid #cccccc;

    margin-top: 5px;

}
.tab1 td{
    height: 37px;
    border-bottom: 1px solid #cccccc;
    padding-left: 5px;
    font-weight: bold;
}

.pagination {
    display: inline-block;
    padding-left: 40%;
    margin: 20px auto;
    border-radius: 4px;
}


/*订单大厅*/
/*已接订单*/
#my_orders{
    margin: 20px 30px;
    border: 2px solid #eeeeee;
    height: 95%;
    padding: 5px;
}
/*已接订单*/